PORT=5001
SESSION_SECRET=change_this_to_a_long_random_secret

ADMIN_USERNAME=your_admin_email@example.com
ADMIN_PASSWORD=your_admin_password

MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/englishflow?retryWrites=true&w=majority
